<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My First App</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- ANGULARJS -->
    <script src="js/lib/angular.min.js"></script>
  </head>
  <body>
    <div class="container mt-5">
      <h1>Exámen</h1>
      <h4>en angulajs</h4>
      <hr />

      <div class="form-group">
        <label>Nombre completo</label>
        <input type="text" class="form-control" placeholder="Ingrese su nombre" ng-model="name">
      </div>
      <div class="form-group">
        <label>Lugar de trabajo</label>
        <input type="text" class="form-control" placeholder="Ingrese su lugar de trabajo" ng-model="workplace">
      </div>
      <div class="form-group">
        <label>Salario en dólares</label>
        <input type="number" class="form-control" placeholder="Ingrese su salario en dólares" ng-model="salary">
      </div>

      <p>
          Nombre: {{name | uppercase}}
          <br>
          Lugar de trabajo: {{workplace | lowercase}}
          <br>
          Salario en dólares: {{salary | currency}}
      </p>
    </div>

    <!-- JQUERY -->
    <script src="js/lib/jquery-3.5.1.min.js"></script>
    <!-- POPPER JS -->
    <script src="js/lib/popper.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="js/lib/bootstrap.min.js"></script>
  </body>
</html>
